<div class="row">
    <div class="col-md-6">
        <img src="img/brent.png" class="img-circle img-responsive" id="about-image"></img>
    </div>
    <div class="col-md-6" id="about">
        <h2>My name is Brent Aureli...</h2>
        <p>
            I am a 29y/o guy living in Mountain View, California. In 2009 I graduated Southwestern Adventist 
            University in Keene, Texas with a Bachelors degree in Nursing. For the past 6 years I have been
            working as a Registered Nurse, mostly focusing on Cardiac Telemetry(monitoring).
        </p>
        <p>
            Near the end of 2013 I began taking classes in Computer Science. I had taken some classes prior to 
            entering the nursing program and thought that it finishing it would be a good idea. Technology has
            always been a passion of mine, as has education(I'd be a professional student if I could!), so I 
            back to Southwestern Adventist University and recently graduated with a Bachelors degree in 
            May 2015.
        </p>
        <p>
            I moved to Mountain View, California to be near my girlfriend who is a Math teacher at a local
            high school. It also didn't hurt that silicon valley has always appeared to me in the same light
            as Disneyland! So here I am, Full time nurse at a hospital in Redwood City, and part time 
            Web-Developer/Tutorial Creator!
        </p>
        <p>
            I love to talk to new people, and hearing about new opportunities. If you think I may be able to
            bring something to your team... LET ME KNOW! Look forward to hearing from you!
        </p>        
    </div>
</div>
<div class="row">
    <div class="col-md-2 col-md-offset-3">
        <a href="https://twitter.com/brentaureli" class="btn btn-info btn-block">
            <i class="fa fa-twitter fa-5x"></i>
        </a>
    </div>
    <div class="col-md-2">
        <a href="https://www.facebook.com/brentaureli" class="btn btn-primary btn-block">
            <i class="fa fa-facebook fa-5x"></i>
        </a>
    </div>
    <div class="col-md-2">
        <a href="https://www.youtube.com/c/BrentAureli" class="btn btn-danger btn-block">
            <i class="fa fa-youtube fa-5x"></i>
        </a>
    </div>
</div>