<section class="content animated fadeInUp">
    <div class="container">
        <div class="col-xs-12" style="margin-bottom:14px;">
            <div id="editor"></div>
            <!-- <input type="button" onclick="printDiv('printableArea')" value="print a div!" /> -->
            <!-- <a href="#" target="_blank" onclick="printDiv('printableArea')" class="btn btn-default"><i class="fa fa-print"></i> Print</a> -->
            <button onclick="printDiv('printableArea')" type="button" class="btn btn-default" style="margin-right: 5px;">
                <i class="fa fa-print"></i> Print Page
            </button>
            <button id="create_pdf" type="button" class="btn btn-default" style="margin-right: 5px;">
                <i class="fa fa-download"></i> Download resume.pdf
            </button>
            <button id="create_pdf" type="button" class="btn btn-default" style="margin-right: 5px;">
                <i class="fa fa-download"></i> Download coverLetter.pdf
            </button>
        </div>

        <div id="printableArea" class="">
            <form class="form">
                <div class="row" id="content">
                    <!-- <header class="page-header">
                    <h1 class="page-title">Yoseok Yasu, Jung</h1>
                    </header> -->
                    <div class="col-lg-12" style="border-top: 12px solid #444; padding-top:40px;">

                        <div class="col-xs-12 col-sm-8">
                            <h1>YOSEOK YASU, JUNG</h1>
                            <!-- <figure>
                            <img class="img-circle img-responsive" alt="" src="dist/img/logo_white2.png">
                            </figure> -->
                            <p>
                                HMI Software Developer
                            </p>
                            <small> <i class="fa fa-clock-o"></i> Last Updated on:
                                <time>
                                    Sunday, December 06, 2015
                                </time></small>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <br>
                            <ul class="">
                                <li class="">
                                    <i class="fa fa-phone"></i> 604-727-2498
                                </li>
                                <li class="">
                                    <i class="fa fa-envelope"></i> master@jungyasu.com
                                </li>

                            </ul>
                            <br>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="divider"></div>

                            <div class="row">
                                <div class="col-md-3">
                                    <h3>Professional Summary</h3>
                                </div>
                                <div class="col-md-9">
                                    <p>
                                        I am currently an automation assistant/HMI developer at Kyoungil System, Suwon, Korea.
                                    </p>
                                    <p>
                                        Dependable Techonology Assistant who is adept at troubleshooting network computers, managing a technology inventory and acting as aliaison between the IT group and the rest of the company. Specializes in client-server networks and wireless entworks. Proficient in supporting hardware and software issues for Windows System. Enthusiatic Technical Support Engineer with 3 years proven troubleshooting experience.
                                    </p>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="divider"></div>

                            <div class="row">
                                <div class="col-md-3" rowspan="2">
                                    <h3>Technical Skills</h3>
                                </div>
                                <div class="col-md-3">
                                    <p>
                                        Microsoft Office VBA
                                    </p>
                                </div>
                                <div class="col-md-3">
                                    <p>
                                        Serial and TCP/IP Communication (C++, QtScript)
                                    </p>
                                </div>
                                <div class="col-md-3">
                                    <p>
                                        Data Management (MySQL, MS Access and Excel)
                                    </p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3" rowspan="2">
                                    <h4></h4>
                                </div>
                                <div class="col-md-3">
                                    <p>
                                        Web Development (HTML/CSS/Javascript)
                                    </p>
                                </div>
                                <div class="col-md-3">
                                    <p>
                                        Software Development (Qt, Java, Python, NodeJS)
                                    </p>
                                </div>
                                <div class="col-md-3">
                                    <p>
                                        Bilingual in English and Korean
                                    </p>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="divider"></div>

                            <div class="row">
                                <div class="col-md-3">
                                    <h3>Language &amp; Platform Skills</h3>
                                </div>
                                <div class="col-md-9">
                                    <a class=" inactive-link" href="#">
                                    <div class="progress">
                                        <div data-placement="top" style="width: 70%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="1" role="progressbar" class="progress-bar progress-bar-success">
                                            <span class="sr-only">70%</span>
                                            <span class="progress-type"><i class="devicon-html5-plain colored"></i> HTML / <i class="devicon-css3-plain colored"></i> CSS / <i class="devicon-bootstrap-plain colored"></i> Bootstrap</span>
                                        </div>
                                    </div>
                                    <div class="progress">
                                        <div data-placement="top" style="width: 40%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="1" role="progressbar" class="progress-bar progress-bar-warning">
                                            <span class="sr-only">40%</span>
                                            <span class="progress-type"><i class="devicon-javascript-plain colored"></i> Javascript / <i class="devicon-jquery-plain colored"></i> JQuery / <i class="devicon-nodejs-plain colored"></i> NodeJS / <i class="devicon-mysql-plain colored"></i> MySQL</span>
                                        </div>
                                    </div>
                                    <div class="progress">
                                        <div data-placement="top" style="width: 60%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="1" role="progressbar" class="progress-bar progress-bar-success">
                                            <span class="sr-only">60%</span>
                                            <span class="progress-type"><i class="devicon-cplusplus-plain colored"></i> C++ qt</span>
                                        </div>
                                    </div>
                                    <div class="progress">
                                        <div data-placement="top" style="width: 80%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" class="progress-bar progress-bar">
                                            <span class="sr-only">80%</span>
                                            <span class="progress-type"><i class="fa fa-file-excel-o"></i> MS Excel Visual Basic for Application(VBA)</span>
                                        </div>
                                    </div>
                                    <div class="progress">
                                        <div data-placement="top" style="width: 80%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="50" role="progressbar" class="progress-bar progress-bar">
                                            <span class="sr-only">80%</span>
                                            <span class="progress-type"><i class="fa fa-windows"></i> Autobase HMI/SCADA</span>
                                        </div>
                                    </div>
                                    <div class="progress">
                                        <div data-placement="top" style="width: 30%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="50" role="progressbar" class="progress-bar progress-bar-warning">
                                            <span class="sr-only">30%</span>
                                            <span class="progress-type"><i class="devicon-python-plain colored"></i> Python / <i class="devicon-ruby-plain colored"></i> Ruby / <i class="devicon-java-plain colored"></i> Java / <i class="devicon-php-plain colored"></i> PHP</span>
                                        </div>
                                    </div>
                                    <div class="progress-meter">
                                        <div style="width: 25%;" class="meter meter-left">
                                            <span class="meter-text">I suck</span>
                                        </div>
                                        <div style="width: 25%;" class="meter meter-left">
                                            <span class="meter-text">I know little</span>
                                        </div>
                                        <div style="width: 30%;" class="meter meter-right">
                                            <span class="meter-text">I'm a guru</span>
                                        </div>
                                        <div style="width: 20%;" class="meter meter-right">
                                            <span class="meter-text">I''m good</span>
                                        </div>
                                    </div> </a>

                                </div>
                            </div>

                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="divider"></div>

                            <div class="row">
                                <div class="col-md-3">
                                    <h3>Research Interests</h3>
                                </div>
                                <div class="col-md-9">
                                    <p>
                                        Software Engineering, Machine Learning, Image Processing,
                                        Computer Vision, Artificial Neural Networks, Data Science,
                                        Evolutionary Algorithms, Automation, Human Machine Interface, Bioinformatics.
                                    </p>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="divider"></div>

                            <div class="row">
                                <div class="col-md-3">
                                    <h3>Prior Experiences</h3>
                                </div>
                                <div class="col-md-9">
                                    <div class="">

                                        <h4 class="">Automation Assistant and HMI Developer at Kyoungil System</h4>

                                        <div class="">
                                            <p class="-text">
                                                2 years of technical support experience
                                            </p>
                                            <ul>
                                                <li>
                                                    Maintained and updated customer service database.
                                                </li>
                                                <!-- <li>
                                                Installed Software, modified and repaired hardware and resolved technical issues.
                                                </li>
                                                <li>
                                                Designed and executed test procedures, reported incidents, and worked with database.
                                                </li>
                                                <li>
                                                Created applications for migrating data between systems/databases using C++, XML, and Excel VBA.
                                                </li>
                                                <li>
                                                Develop HMI solutions to provide automation for PCB (Printed Circuit Board) Manufactures includes Fusei Menix, Vietnam SAMSUNG, Taiwan KINSUS.
                                                <img class="img-responsive" src="dist/img/FUSEI-MENIX.png"/><img src="dist/img/Samsung_Logo.png" class="img-responsive"/><img class="img-responsive" src="dist/img/kinsus.png"/>
                                                </li>
                                                <li>
                                                Assist in development of MES, RMS, EES with SAMSUNG Electronics.
                                                </li>
                                                <li>
                                                PLC Communication
                                                </li>
                                                <li>
                                                Collecting data related to the semiconductor and semiconductor-related production process to implement maximize production through analysis
                                                </li>
                                                <li>
                                                Work independently and in a group setting
                                                </li> -->
                                            </ul>
                                        </div>

                                        <!-- <div class="timeline-footer">
                                        <a class="btn btn-primary btn-xs">More</a>
                                        </div> -->
                                    </div>
                                    <div class="divider"></div>
                                    <div class="">
                                        <h4 class="">Vanwest College</h4>

                                        <div class="">
                                            <h4>IT Assistant</h4>
                                            <p class="-text">
                                                1 year of technical assistant experience
                                            </p>
                                            <ul>
                                                <li>
                                                    Learned valuable interpersonal communication skills by collaborating with others from many fields.
                                                </li>
                                                <!-- <li>
                                                Installed software, modified and repaired hardware and resolved technical issues.
                                                </li>
                                                <li>
                                                Install school network system and assist in various technical troubleshoot.
                                                </li>
                                                <li>
                                                Created applications for manipulating data with Excel VBA and .csv.
                                                </li>
                                                <li>
                                                Resolved problems with malfunctioning products.
                                                </li>
                                                <li>
                                                Setup new PC desktops and laptops.
                                                </li> -->
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="divider"></div>
                                    <div class="">

                                        <h4 class="">Republic of Korea Army(ROKA)</h4>

                                        <div class="">
                                            <h4>Administrative Clerk</h4>
                                            <p class="-text">
                                                2 years of database maintainance experience
                                            </p>
                                            <ul>
                                                <li>
                                                    Maintain information of over 50,000 personnel in database tables.
                                                </li>
                                                <!-- <li>
                                                Created applications for migrating data between programs using MS VBA and Excel Macro.
                                                </li>
                                                <li>
                                                Created applications for manipulating data with Excel VBA and .csv.
                                                </li>
                                                <li>
                                                Created PowerPoint presentations used for meetings.
                                                </li>
                                                <li>
                                                Coordinate inventory orders, office supplies, and meeting arrangement.
                                                </li> -->
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="divider"></div>

                            <div class="row">
                                <div class="col-md-3">
                                    <h3>Education</h3>
                                </div>
                                <div class="col-md-9">
                                    <a href="http://www.ubc.ca" target="_blank"><h4>University of British Columbia (UBC)</h4></a>
                                    <h5>2329 West Mall, Vancouver, BC, Canada V6T 1Z4</h5>
                                    <table class="table table-striped table-responsive ">
                                        <thead>
                                            <tr>
                                                <th style="width:50%;">Degree</th>
                                                <th>Graduation Year</th>
                                                <th style="width:30%;">Description</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>BSc. in Computer Science and Biology</td>
                                                <td>2015</td>
                                                <td>Bioinformatics </td>
                                            </tr>

                                        </tbody>

                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <h3></h3>
                                </div>
                                <div class="col-md-9">
                                    <a href="http://www.kis.in" target="_blank"><h4>Kodaikanal International School</h4></a>
                                    <h5>Seven Roads Junction, PO Box 25, Kodaikanal 624 101, Tamil Nadu, India</h5>
                                    <table class="table table-striped table-responsive ">
                                        <thead>
                                            <tr>
                                                <th style="width:50%;">Degree</th>
                                                <th>Graduation Year</th>
                                                <th style="width:30%;">Description</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>IB Certificates</td>
                                                <td>2008</td>
                                                <td>BIOL, CHEM, MATH</td>
                                            </tr>

                                        </tbody>

                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div><!-- End resume -->

            </form>

        </div><!-- end of id content-->

    </div><!-- end of container-->

</section>