<section id="main-slider">
						<div class="owl-carousel">
							<div class="item" style="background-image: url(dist/img/big-head2.png); background-size: auto 66%; background-position: right; background-color: rgba(105,210,231,0.5);">
								<div class="slider-inner">
									<div class="container">
										<div class="row">
											<div class="col-sm-6">
												<div class="carousel-content">
													<h2><span>Welcome to <b>JUNG</b>YASU.COM</span></h2>
													<br>
													<h3> It's nice to meet you </h3>
													<a class="btn btn-default btn-lg" href="#">Read More</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div><!--/.item-->
							<div class="item" style="background-image: url(dist/img/big-head2.png); background-size: auto 66%; background-position: right; background-color: rgba(243,134,48,0.5);">
								<div class="slider-inner">
									<div class="container">
										<div class="row">
											<div class="col-sm-6">
												<div class="carousel-content">
													<h2>I am a <span>Software Developer</span></h2>
													<br>
													<h3> Web, Database, Automation, HMI, Applications </h3>
													<a class="btn btn-default btn-lg" href="#">Read More</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div><!--/.item-->
						</div><!--/.owl-carousel-->
					</section><!--/#main-slider-->


<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <carousel interval="myInterval">
          <slide ng-repeat="slide in slides" active="slide.active">
              <a href="{{slide.link}}">
                  <img ng-src="{{slide.image}}" style="margin:auto;">
              </a>
          </slide>
        </carousel>        
    </div>
</div>